<h1>Capstone week 3 assignment part 2 by Roy</h1> 
Get the latitude and the longitude coordinates of each neighborhood.

First import some required modules

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

Read html and parse data

In [2]:
wikipath="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
r = requests.get(wikipath)
soup = BeautifulSoup(r.content, "html.parser")
tbl= soup.find('table', {'class': "wikitable"}).find('tbody')
table_rows = tbl.find_all('tr')

Convert and transform according to assignment.

In [3]:
l = []
for i in range(1, len(table_rows)):
    tr=table_rows[i]
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td]
    if(row[2] == "Not assigned"):
        row[2] = row[1]
    if(row[1] != "Not assigned"):
        l.append(row)
df=pd.DataFrame(l, columns=["Postcode", "Borough", "Neighbourhood"])
places = df.groupby('Postcode').agg({'Borough' : 'first', 'Neighbourhood' : ', '.join})
places = places.reset_index()
places.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [4]:
places.shape

(103, 3)

In [5]:
geodata = pd.read_csv('http://cocl.us/Geospatial_data')

In [6]:
geodata.rename(columns={"Postal Code": "Postcode"}, inplace=True)
geodata.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [7]:
result = pd.merge(places,
                 geodata[['Postcode', 'Latitude', 'Longitude']],
                 on='Postcode')
result.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476